@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown .show-on-load {
  display: flex;
}
@media only screen and (min-width: 1200px) {
  .onhover:hover .font-medium {
    display: block;
  }
}

div.onhover:hover p {
  opacity: 1;
  transition: opacity 3s ease;
}
